[submodule "webgpu01"]
	path = webgpu01
	url = https://github.com/jack1232/webgpu01
[submodule "webgpu02"]
	path = webgpu02
	url = https://github.com/jack1232/webgpu02
[submodule "webgpu03"]
	path = webgpu03
	url = https://github.com/jack1232/webgpu03
[submodule "webgpu04"]
	path = webgpu04
	url = https://github.com/jack1232/webgpu04
[submodule "webgpu05"]
	path = webgpu05
	url = https://github.com/jack1232/webgpu05
[submodule "webgpu06"]
	path = webgpu06
	url = https://github.com/jack1232/webgpu06
[submodule "webgpu07"]
	path = webgpu07
	url = https://github.com/jack1232/webgpu07
[submodule "webgpu08"]
	path = webgpu08
	url = https://github.com/jack1232/webgpu08
[submodule "webgpu09"]
	path = webgpu09
	url = https://github.com/jack1232/webgpu09
[submodule "webgpu10"]
	path = webgpu10
	url = https://github.com/jack1232/webgpu10
[submodule "webgpu11"]
	path = webgpu11
	url = https://github.com/jack1232/webgpu11
[submodule "webgpu12"]
	path = webgpu12
	url = https://github.com/jack1232/webgpu12
[submodule "webgpu13"]
	path = webgpu13
	url = https://github.com/jack1232/webgpu13
[submodule "webgpu14"]
	path = webgpu14
	url = https://github.com/jack1232/webgpu14
[submodule "webgpu15"]
	path = webgpu15
	url = https://github.com/jack1232/webgpu15
[submodule "webgpu16"]
	path = webgpu16
	url = https://github.com/jack1232/webgpu16
[submodule "webgpu17"]
	path = webgpu17
	url = https://github.com/jack1232/webgpu17
[submodule "webgpu18"]
	path = webgpu18
	url = https://github.com/jack1232/webgpu18
[submodule "webgpu19"]
	path = webgpu19
	url = https://github.com/jack1232/webgpu19
[submodule "webgpu20"]
	path = webgpu20
	url = https://github.com/jack1232/webgpu20
[submodule "webgpu21"]
	path = webgpu21
	url = https://github.com/jack1232/webgpu21
[submodule "webgpu22"]
	path = webgpu22
	url = https://github.com/jack1232/webgpu22
[submodule "webgpu23"]
	path = webgpu23
	url = https://github.com/jack1232/webgpu23
[submodule "webgpu24"]
	path = webgpu24
	url = https://github.com/jack1232/webgpu24
[submodule "webgpu25"]
	path = webgpu25
	url = https://github.com/jack1232/webgpu25
[submodule "webgpu26"]
	path = webgpu26
	url = https://github.com/jack1232/webgpu26
[submodule "webgpu27"]
	path = webgpu27
	url = https://github.com/jack1232/webgpu27
[submodule "webgpu28"]
	path = webgpu28
	url = https://github.com/jack1232/webgpu28
[submodule "webgpu29"]
	path = webgpu29
	url = https://github.com/jack1232/webgpu29
[submodule "webgpu30"]
	path = webgpu30
	url = https://github.com/jack1232/webgpu30
[submodule "webgpu31"]
	path = webgpu31
	url = https://github.com/jack1232/webgpu31
[submodule "webgpu32"]
	path = webgpu32
	url = https://github.com/jack1232/webgpu32
[submodule "webgpu33"]
	path = webgpu33
	url = https://github.com/jack1232/webgpu33
[submodule "webgpu34"]
	path = webgpu34
	url = https://github.com/jack1232/webgpu34
[submodule "webgpu35"]
	path = webgpu35
	url = https://github.com/jack1232/webgpu35
[submodule "webgpu36"]
	path = webgpu36
	url = https://github.com/jack1232/webgpu36
[submodule "webgpu37"]
	path = webgpu37
	url = https://github.com/jack1232/webgpu37
[submodule "webgpu38"]
	path = webgpu38
	url = https://github.com/jack1232/webgpu38
[submodule "webgpu39"]
	path = webgpu39
	url = https://github.com/jack1232/webgpu39
[submodule "webgpu40"]
	path = webgpu40
	url = https://github.com/jack1232/webgpu40
[submodule "webgpu41"]
	path = webgpu41
	url = https://github.com/jack1232/webgpu41
[submodule "webgpu42"]
	path = webgpu42
	url = https://github.com/jack1232/webgpu42
[submodule "webgpu43"]
	path = webgpu43
	url = https://github.com/jack1232/webgpu43
[submodule "webgpu44"]
	path = webgpu44
	url = https://github.com/jack1232/webgpu44
[submodule "webgpu45"]
	path = webgpu45
	url = https://github.com/jack1232/webgpu45
[submodule "webgpu46"]
	path = webgpu46
	url = https://github.com/jack1232/webgpu46
[submodule "webgpu47"]
	path = webgpu47
	url = https://github.com/jack1232/webgpu47
[submodule "webgpu48"]
	path = webgpu48
	url = https://github.com/jack1232/webgpu48
[submodule "webgpu49"]
	path = webgpu49
	url = https://github.com/jack1232/webgpu49
[submodule "webgpu50"]
	path = webgpu50
	url = https://github.com/jack1232/webgpu50
[submodule "webgpu51"]
	path = webgpu51
	url = https://github.com/jack1232/webgpu51
[submodule "webgpu52"]
	path = webgpu52
	url = https://github.com/jack1232/webgpu52
[submodule "webgpu53"]
	path = webgpu53
	url = https://github.com/jack1232/webgpu53
[submodule "webgpu54"]
	path = webgpu54
	url = https://github.com/jack1232/webgpu54
[submodule "webgpu55"]
	path = webgpu55
	url = https://github.com/jack1232/webgpu55
