[submodule "webgpu01"]
	path = webgpu01
	url = https://github.com/jack1232/webgpu01
[submodule "webgpu02"]
	path = webgpu02
	url = https://github.com/jack1232/webgpu02
[submodule "webgpu03"]
	path = webgpu03
	url = https://github.com/jack1232/webgpu03
[submodule "webgpu04"]
	path = webgpu04
	url = https://github.com/jack1232/webgpu04
[submodule "webgpu05"]
	path = webgpu05
	url = https://github.com/jack1232/webgpu05
