[submodule "webgpu01"]
	path = webgpu01
	url = https://github.com/jack1232/webgpu01
[submodule "webgpu02"]
	path = webgpu02
	url = https://github.com/jack1232/webgpu02
[submodule "webgpu03"]
	path = webgpu03
	url = https://github.com/jack1232/webgpu03
[submodule "webgpu04"]
	path = webgpu04
	url = https://github.com/jack1232/webgpu04
[submodule "webgpu05"]
	path = webgpu05
	url = https://github.com/jack1232/webgpu05
[submodule "webgpu06"]
	path = webgpu06
	url = https://github.com/jack1232/webgpu06
[submodule "webgpu07"]
	path = webgpu07
	url = https://github.com/jack1232/webgpu07
[submodule "webgpu08"]
	path = webgpu08
	url = https://github.com/jack1232/webgpu08
[submodule "webgpu09"]
	path = webgpu09
	url = https://github.com/jack1232/webgpu09
[submodule "webgpu10"]
	path = webgpu10
	url = https://github.com/jack1232/webgpu10
[submodule "webgpu11"]
	path = webgpu11
	url = https://github.com/jack1232/webgpu11
[submodule "webgpu12"]
	path = webgpu12
	url = https://github.com/jack1232/webgpu12
[submodule "webgpu13"]
	path = webgpu13
	url = https://github.com/jack1232/webgpu13
[submodule "webgpu14"]
	path = webgpu14
	url = https://github.com/jack1232/webgpu14
[submodule "webgpu15"]
	path = webgpu15
	url = https://github.com/jack1232/webgpu15
[submodule "webgpu16"]
	path = webgpu16
	url = https://github.com/jack1232/webgpu16
[submodule "webgpu17"]
	path = webgpu17
	url = https://github.com/jack1232/webgpu17
[submodule "webgpu18"]
	path = webgpu18
	url = https://github.com/jack1232/webgpu18
[submodule "webgpu19"]
	path = webgpu19
	url = https://github.com/jack1232/webgpu19
[submodule "webgpu20"]
	path = webgpu20
	url = https://github.com/jack1232/webgpu20
